* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 85vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.466), rgb(107, 0, 0));
  display: flex;
  box-shadow: black;

}

header {
  text-align: center;
}
section{
  box-shadow: 10px 10px 10px 10px#010003;
}

.carta:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.carta.flip {
  transform: rotateY(180deg);
}

.jogo-memoria {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.carta {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.carta .front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #920000;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.carta .back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #ce0707;
  backface-visibility: hidden;
  transform: rotateY(0deg);
}

.carta.flip {
  animation: flip-multiple 2s ease-in-out forwards;
}


h1 {
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(255, 0, 0));
  color: rgb(255, 0, 0);

}

input {
  background-color: rgb(255, 0, 0);
  text-align: center;
  color: rgb(0, 0, 0);
  height: 30px;
  width: 100px;
  margin-top: 10px;
  margin-left: 46%;
  position: absolute;
  border-radius: 15px;
}

#tentativas {
  text-align: center;
  margin-top: 50px;
  margin-left: -45px;
  font-size: 20px;
  color: #010003;
  font-weight: bold;
  background-color: red;
}


/* Animação: gira várias vezes antes de revelar */
@keyframes flip-multiple {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(540deg);
  }
  100% {
    transform: rotateY(720deg); /* termina virada */
  }
}

/* Transição de transformação normal */
.carta {
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carta.revelar .back-face {
  visibility: visible;
  /* Torna visível a parte de trás da carta */
}

.carta .back-face {
  visibility: hidden;
  /* A parte de trás da carta fica oculta até a revelação */
}